.header {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: var(--Grey-900-80);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  z-index: 100;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  margin: auto;
  width: 100%;
  max-width: 1440px;
  height: 100%;
}
.header__img {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 5;
}
.header__homeLink {
  position: relative;
  width: 175px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header__homeLink:hover .header__name {
  left: 0px;
}
.header__nameConteiner {
  position: absolute;
  overflow: hidden;
  width: 130px;
  height: 40px;
  top: 1.5px;
  left: 40px;
}
.header__name {
  position: relative;
  width: 100%;
  left: -130px;
  color: var(--Primary-400);
  letter-spacing: 0.02em;
  padding-left: 3px;
  font-size: 28px;
  font-weight: 900;
  line-height: 40px;
  transition: var(--transition-headerName);
  z-index: 1;
}
.header__nameSpan {
  color: var(--Secondary-500);
}
app-navbar {
  display: block;
}
app-burger-button {
  display: none;
}
@media (max-width: 768px) {
  .header__container {
    padding: 16px 80px;
  }
  app-navbar {
    display: none;
  }
  app-burger-button {
    display: block;
  }
}
@media (max-width: 576px) {
  .header__container {
    padding: 16px 40px;
  }
}
