<footer class="footer">
  <div class="footer__conteiner">
    <div class="footer__folcConteiner">
      <img
        src="./../../../../assets/ico/folc-crop-grey.png"
        alt="Logo de Folcademy"
        class="footer__folcLogo"
      />
      <p class="footer__folcName">Folcademy</p>
    </div>
    <p class="footer__myName">Juan Gabriel Rios D'Amico</p>
  </div>
</footer>
