nav {
  position: relative;
  width: 382px;
  height: 48px;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.navList__a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--Grey-200);
  padding: 12px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  transition: var(--transition);
}
.navList__a:hover {
  color: var(--Warning-500);
}
.navList__a--padding {
  padding: 12px 32px;
}
.navList__arrow {
  margin: 0px 0px 0px 8px;
  font-size: 20px;
  line-height: 24px;
}
.navList__goOut {
  margin: 0px 8px 0px 0px;
  font-size: 21px;
  line-height: 24px;
}
/* boton darkMode */
.btnDark {
  width: 25px;
  height: 25px;
  background-color: indigo;
  cursor: pointer;
}
