.pages {
  padding: 0 120px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  min-height: 100vh;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .pages {
    padding: 0 80px;
  }
}
@media (max-width: 576px) {
  .pages {
    padding: 0 40px;
  }
}
