/* You can add global styles to this file, and also import other style files */
/* variables globales */
:root {
  --Primary-50: #ebe9fe;
  --Primary-100: #dedbfd;
  --Primary-200: #beb7fb;
  --Primary-300: #9c92f8;
  --Primary-400: #7b6ef6;
  --Primary-500: #5a4af4;
  --Primary-600: #483bc3;
  --Primary-700: #362c92;
  --Primary-800: #251e62;
  --Primary-900: #120f31;

  --Secondary-50: #e4f4ff;
  --Secondary-100: #d2ecfe;
  --Secondary-200: #a5dbfe;
  --Secondary-300: #78c8fd;
  --Secondary-400: #4bb7fd;
  --Secondary-500: #1ea5fc;
  --Secondary-600: #1884ca;
  --Secondary-700: #126297;
  --Secondary-800: #0c4265;
  --Secondary-900: #062032;

  --Tertary-50: #f6edff;
  --Tertary-100: #f0e2ff;
  --Tertary-200: #e2c5ff;
  --Tertary-300: #d3a7ff;
  --Tertary-400: #c58aff;
  --Tertary-500: #b66dff;
  --Tertary-600: #9257cc;
  --Tertary-700: #6d4199;
  --Tertary-800: #492c66;
  --Tertary-900: #241633;

  --Success-50: #e1f9f2;
  --Success-100: #cdf5e9;
  --Success-200: #9bebd3;
  --Success-300: #69e2bd;
  --Success-400: #37d8a7;
  --Success-500: #05ce91;
  --Success-600: #04a574;
  --Success-700: #037c57;
  --Success-800: #02523a;
  --Success-900: #01291d;

  --Error-50: #ffecec;
  --Error-100: #ffdfdf;
  --Error-200: #ffc0c0;
  --Error-300: #ffa0a0;
  --Error-400: #ff8181;
  --Error-500: #ff6161;
  --Error-600: #cc4e4e;
  --Error-700: #993a3a;
  --Error-800: #662727;
  --Error-900: #331313;

  --Warning-50: #fff5e9;
  --Warning-100: #ffefdb;
  --Warning-200: #ffdeb6;
  --Warning-300: #ffce92;
  --Warning-400: #ffbd6d;
  --Warning-500: #ffad49;
  --Warning-600: #cc8a3a;
  --Warning-700: #99682c;
  --Warning-800: #66451d;
  --Warning-900: #33230f;

  --Grey-50: #ebeef5;
  --Grey-100: #c3c8d4;
  --Grey-200: #a8aebf;
  --Grey-300: #8e95a9;
  --Grey-400: #767e94;
  --Grey-500: #61697f;
  --Grey-600: #475069;
  --Grey-600-80: #475069cc;
  --Grey-700: #323b54;
  --Grey-800: #20283e;
  --Grey-800-80: #20283ecc;
  --Grey-900: #121829;
  --Grey-900-80: #121829cc;

  --White-10: #ffffff1a;
  --White-20: #ffffff33;
  --White-30: #ffffff4d;
  --White-40: #ffffff66;
  --White-50: #ffffff80;
  --White-65: #ffffffa6;
  --White-75: #ffffffbf;
  --White-100: #ffffff;

  --Black-10: #0000001a;
  --Black-20: #00000033;
  --Black-30: #0000004d;
  --Black-40: #00000066;
  --Black-50: #00000080;
  --Black-65: #000000a6;
  --Black-75: #000000bf;
  --Black-100: #000000;
  /* transition */
  --transition: all 0.2s ease-in-out;
  --transition-headerName: all 0.4s ease-in-out;
  /*box-shadow*/
  --box-shadow: 0 0 5px #61697f50;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/Fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Icons";
  src: url("assets/Fonts/Icons_web-Regular.otf") format("openType");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: Poppins, "Courier New", Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--Grey-900);
  background-image: url(./assets/img/Background.png);
  background-size: cover;
  background-position: 0 80px;
  background-repeat: repeat;
}
.icons {
  font-family: Icons;
}
h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.02em;
}
@media (max-width: 992px) {
  h1 {
    font-size: 54px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
}
